<h1>Success! Your Dealership has been added</h1>
<p><a href="/dealerships">See Dealership List</a></p>
<p><a href="/dealerships/new">Add Another Dealership </a></p>
<p><a href="/">Return To Dealership Page</a></p>
